<h1>{{title}}</h1>

<p>
  <input id="show-form" type="checkbox" [(ngModel)]="showForm">
  <label for="show-form">Show form</label>
</p>

<form [hidden]="!showForm" #addStudentForm="ngForm">
  <div class="field" [ngClass]="{'has-errors': addStudentForm.submitted && usernameField.invalid}">
    <label for="name">Name</label>
    <input id="name" type="text" [(ngModel)]="name" name="name" #usernameField="ngModel" required minlength="5" maxlength="10">
    <div class="validation" *ngIf="addStudentForm.submitted && usernameField.invalid">
      <p *ngIf="usernameField.errors.required">required!</p>
      <p *ngIf="usernameField.errors.minlength">too short, 5 minimum!</p>
      <p *ngIf="usernameField.errors.maxlength">too short, 10 maximum!</p>
    </div>
  </div>
  <div class="field">
    <label for="country">Country</label>
    <select id="country" [(ngModel)]="country" name="country">
      <option value="">- select one - </option>
      <option value="spain">Spain</option>
      <option value="england">England</option>
      <option value="portugal">Portugal</option>
    </select>
  </div>
  <div [ngSwitch]="country">
    <p *ngSwitchCase="'spain'">olé</p>
    <p *ngSwitchCase="'portugal'">olá</p>
    <p *ngSwitchCase="'england'">oi?</p>
    <p *ngSwitchDefault>WTF?</p>
  </div>
  <button (click)="handleAddClick(addStudentForm)">Add to list</button>
</form>

<ul>
  <li *ngFor="let student of students, let ix = index" [ngClass]="{ 'tall': student.height > 1.80 }">
    <app-student-card [student]="student" (deleteClick)="handleRemoveClick(ix)"></app-student-card>
  </li>
</ul>
